:root {
  ---color-teal-darker: #0a2a2e;
  ---nav-bg-color-teal-dark: #00515f;
  --font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
  display: inline-block;
}

._navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: var(---nav-bg-color-teal-dark);
  width: 100% !important;
  margin: 0 auto;
  z-index: 999;
}

._navbar ul {
  padding: 0;
  margin: 0;
}

._navbar li {
  padding: 0;
  margin: 0;
}

._navbar a {
  padding: 0;
  margin: 0;
}

.navbar-links {
  flex: 8;
  display: flex;
  align-items: center !important;
  margin-left: 20px;
  /* background-color: #cee7e4; */
}

.navbar-links-logo {
  width: 15%;
  /* padding-right: 1rem; */
  height: 40px;
  /* background-color: #ff2a00; */
}

.navbar-links-logo img {
  max-width: 50px;
  height: auto;
}

.navbar-links-logo a {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-top: -2px !important;
  height: 40px;
}

.navbar-links-container {
  width: 85%;
  display: flex;
  align-items: center;
  /* background-color: #ffa200; */
}

.navbar-sign {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  /* background-color: #34afc5; */
}

._navbar .nav-link {
  text-transform: capitalize;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
}

._navbar .nav-item {
  color: #cee7e4;
  margin: 0 8px;
  cursor: pointer;
}

._navbar .nav-item2 {
  color: #ffb027;
  margin: 0 6px;
  cursor: pointer;
}

._navbar .nav-link:hover {
  color: #fff;
}

.navbar-sign .button2 {
  padding: 0.7rem 1.5rem;
  color: #ffff;
  background: #ffa200;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.navbar-sign .button {
  padding: 0.5rem 1.5rem;
  color: #ffff;
  background: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}

/* MOBILE NAV */
.navbar-menu {
  display: none;
  margin-right: 20px;
  /* position: relative; */
}

.navbar-menu svg {
  cursor: pointer;
}

.menu-icon-container {
  text-align: end;
}

/* //  NEW EDITING */

.navbar-menu-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-width: 200px;
  height: 100%;
  min-height: 100vh;
  z-index: 500;
}

.navmenu-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  /* background-color: #c9bda9; */
}

.navmenu-links-container .nav-menu-link {
  /* color: #fff; */
  color: #374957;
  text-transform: capitalize;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 8px 0px;
}

.nav-menu-link2 {
  color: #ffa200;
  text-transform: capitalize;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 5px 0px;
}

.navbar-menu-container-links-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  text-align: right;
}

.nav-menu-item {
  text-transform: capitalize;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.navbar-menu-container-links-sign .button2 {
  padding: 0.6rem 1.5rem;
  color: #ffff;
  background: #ffa200;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.navbar-menu-container-links-sign .button {
  padding: 0.5rem 1.5rem;
  color: teal;
  background: transparent;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid teal;
  outline: none;
  cursor: pointer;
}

.navbar-menu-container.active .close-me {
  color: #00515f !important;
  z-index: 9999;
  position: fixed;
  top: 20px;
  right: 20px;
}

/* .navbar-menu .open-menu-icon {
  z-index: 9999;
  position: absolute;
  top: -14px;
  right: 0px;
} */

.blur-shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #0a2a2e;
  opacity: 0.5;
  z-index: 200;
}

.navbar-menu-container-links .menu-logo {
  font-size: 100px;
  font-weight: 800;
  color: #fff;
  opacity: 0.1;
  margin-top: -20px;
}

@media screen and (min-width: 1260px) {
  .navbar-menu-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar-menu-container-links-sign {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  .navbar-links {
    flex: 3;
    /* background-color: #ffa200; */
  }
  .navbar-links-logo {
    width: 50% !important;
  }
  .navbar-links-container {
    width: 0% !important;
    /* background-color: #982bd8; */
  }
  .navbar-links-container ul {
    display: none;
  }
  .navbar-sign {
    flex: 6;
    display: flex;
    justify-content: flex-start;
  }

  /* ------------------//RIGHT SIDE -------------------*/

  ._navbar {
    overflow: hidden;
    position: relative;
  }

  .navbar-menu {
    display: block;
  }

  .navbar-menu-container {
    width: 200px;
    min-height: 100vh;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    padding-top: 80px;
    right: -100%;
    transition: all 0.4s ease;
    z-index: 500;
  }

  .navbar-menu-container.active {
    position: fixed;
    /* background: var(---nav-bg-color-teal-dark); */
    background: #fff;
    top: 0;
    padding-top: 80px;
    right: 0;
    transition: all 0.4s ease;
    z-index: 500;
  }

  /* .navmenu-links-container {
    margin-top: 60px;
  } */
}

@media screen and (max-width: 768px) {
  .navbar-links {
    flex: 6;
    /* background-color: #ffa200; */
  }
  .navbar-links-logo {
    width: 50% !important;
  }
  .navbar-links-container {
    display: none;
    width: 0% !important;
    /* background-color: #982bd8; */
  }
  .navbar-links-container ul {
    display: none;
  }
  .navbar-sign {
    display: none;
    flex: 6;
  }
  .navbar-menu {
    flex: 6;
    display: block;
    /* background-color: #16b34a; */
  }
  .navbar-menu-container-links-sign {
    display: block;
  }
  /* .navmenu-links-container {
    margin-top: 60px;
  } */
}
