* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  ---color-teal-darker: #1c2525;
  ---color-teal-dark: #172929;
  ---color-teal-light: #006d6d;
  ---btn-teal-color: #008080;
  ---color-accent-c1: #febd69;
  ---color-accent-c2: #3b7474;
  ---color-sbg-1: #f5f5f7;
  ---bg-color-c2: #ffa200;
  ---txt-color: #777777;
  ---hdt-color: #1c1c1b;
  ---border-color: #e3e9ed;
  ---faint-color: #b9e2e2;
  ---main-txt-color: teal;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  margin: 0;
}

/* GLOBAL VARIABLES */

.btn-bg-color {
  color: #fff;
  background-color: var(---bg-color-c2);
}

.--normal-button {
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

.--big-headings {
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
  font-family: "Inter";
}

.--section-headings {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  font-family: "Inter";
}

.--subtitle {
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter";
}

.--bold-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  font-family: "Inter";
}

.--regular-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  font-family: "Inter";
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-15 {
  gap: 15px;
}

/* END OF GLOBAL VARIABLES */

body {
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* HEADER CSS ---------------------------*/
/* HEADER CSS -----------------------------------*/

.header-top-strip {
  background: #ffa200;
}

.banner-content {
  padding: 20px;
}

.header-top-strip .banner-content a {
  text-align: center;
  background-color: var(---color-teal-light);
}

.header-top-strip .header h3 {
  font-size: 32px;
  text-align: center;
}

.header-upper {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e3e9ed;
}

.header-fixed {
  position: sticky;
  top: 0;
  margin-top: 0;
  transition: 0.6s;
  padding: 10px 0;
  z-index: 200;
  background-color: #ffffff;
  border-bottom: 1px solid #e3e9ed;
}

/* .header-upper .head-bar {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  z-index: 200;
} */

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.form-control:focus {
  box-shadow: none;
  border-color: none;
  outline: none;
  border: none;
  background-color: #f4ffff;
}

.search-bar .form-control {
  background-color: #e6f5f5;
  outline: none;
  border: none;
}

.search-bar .input-group-text {
  border: 2px solid var(---color-accent-c2);
  background-color: var(---color-accent-c2);
}

/* HOME COMPONENT CSS */
/* HOME COMPONENT CSS */
/* HOME COMPONENT CSS ------------------------------------*/

.home-wrapper {
  padding-top: 0;
  overflow: initial;
  display: flex;
  flex-direction: column;
  background-color: var(---color-bg-1);
  box-sizing: border-box;
  min-height: 600px;
  width: 100%;
  margin-bottom: 40px;
}

/* FILTER HEADER CSS  --- FIX OR UNFIXED */

.content-filter-header {
  position: relative;
  width: 100%;
}

.filter-header-sticky {
  position: sticky;
  top: 73px;
  z-index: 200;
}

.filter-header-sticky .page-topbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border-top: 1px solid #e3e9ed; */
  border-bottom: 1px solid #e3e9ed;
  background-color: #fff;
}

.content-filter-header .page-topbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #e3e9ed;
  /* padding: 0 40px; */
  background-color: #fff;
  /* padding: 0 20px; */
}

/* ---------------TOPBAR FILTER----------------------- */
/* ---------------TOPBAR FILTER----------------------- */
/* ---------------TOPBAR FILTER----------------------- */

.filter-header-sticky .page-topbar .btns-container {
  display: flex;
  justify-content: center;
  width: 100%;
  width: 250px;
  max-width: 250px;
  border-right: 1px solid #e3e9ed;
  margin-left: 9px;
  margin-right: 20px;
}

.content-filter-header .page-topbar .btns-container {
  display: flex;
  justify-content: center;
  width: 100%;
  width: 250px;
  max-width: 250px;
  border-right: 1px solid #e3e9ed;
  margin-left: 9px;
  margin-right: 20px;
}

.filter-header {
  border-radius: 8px;
  padding: 5px 0;
  width: 250px;
  max-width: 250px;
  /* */
}

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  max-width: 250px;
}

.page-topbar .filter-header .header-content p {
  font-size: 16px;
  color: #406f77;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  /* margin-right: 30px; */
  padding: 8px 20px;
}

.filter-card-icon-close {
  text-align: center;
  vertical-align: middle;
  padding: 8px 5px;
  cursor: pointer;
}

.filter-card-icon-close:hover {
  background-color: #eff8f8c4;
  transition: 0.4s;
  border-radius: 50%;
}

.page-topbar .main-btn {
  width: 250px;
  max-width: 250px;
  display: flex;
  padding: 5px 0px;
  justify-content: center;
}

.page-topbar .filter-button {
  background: #e6f5f5;
  color: #374957;
  font-weight: 600;
  border-radius: 8px;
  line-height: 34px;
  padding: 8px 30px;
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.page-topbar .filter-button span {
  font-size: 16px;
}

.page-topbar .header-bottom {
  position: relative;
  width: calc(100% - 250px);
  /* padding: 0 5px; */
  margin: 0 auto !important;
}

/* ----------------------------------------------- */

/* ------SIDEBAR FILTER CSS------ */
/* ------SIDEBAR FILTER CSS------ */
/* ------SIDEBAR FILTER CSS------ */

.home-wrapper {
  position: relative;
  overflow: hidden;
}

.home-wrapper .display-products {
  position: relative;
}

.sidebar-toggle {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.active {
  display: flex;
  /* width: calc(100% - 250px) !important; */
}

.sidebar-toggle .side-container {
  position: absolute;
  top: 0;
  left: -100%;
  /* transform: translateX(-100%); */
  transition: all 0.4s ease-out;
}

.active .side-container {
  position: relative;
  left: 0;
  /* transform: translateX(0%) !important; */
  transition: all 0.4s ease-out;
}

.side-container {
  position: relative;
  border-right: 1px solid #e3e9ed;
  width: 297px;
  margin-right: 20px;
  /* background-color: #172929; */
}

.fix-sidebar .side-bar {
  position: sticky;
  -webkit-sticky: sticky;
  top: 0;
}

/* .unfix-sidebar {
  position: relative;
  top: 0;
} */

.home-wrapper .display-products .filter-side-cards {
  display: block;
  position: relative;
  /* transition: 0.4s; */
  overflow-y: scroll;
  transition: all 0.6s ease-in-out;
}

.home-wrapper .display-products .filter-card {
  background-color: #fff;
  border-radius: 7px;
  padding-left: 12px;
  /* border-right: 1px solid #e3e9ed; */
  border-bottom: 1px solid #ebf0f3b6;
}

.filter-button .filter-icon {
  width: auto;
  float: left;
  line-height: 34px;
}

.filter-button span {
  font-size: 20px;
  width: auto;
  float: right;
  margin-left: 10px;
  color: #374957;
  line-height: 34px;
}

.filter-card ul {
  list-style: none;
  font-weight: 500;
  color: var(---txt-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.filter-card ul li a {
  font-size: 14px;
  display: flex;
  list-style: none;
  line-height: 34px;
  color: var(---txt-color);
  text-decoration: none;
}

.filter-card .s-icon {
  display: block;
  /* width: 15px;
  height: 15px; */
  font-size: 10px;
  line-height: 10px;
  color: #7e7e7e;
  margin-left: 5px;
  margin-top: 12px !important;
}

.filter-card .subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: var(---txt-color);
}

.filter-card h5 {
  display: flex;
  align-items: center;
}

.filter-card .z-icon {
  display: block;
  /* width: 15px;
  height: 15px; */
  font-size: 10px;
  line-height: 10px;
  color: #7e7e7e;
  margin-right: 5px;
  /* margin-top: 12px !important; */
}

.filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: var(---hdt-color);
  margin-bottom: 10px;
}

.filter-card .license {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  padding: 8px 10px;
  color: var(---hdt-color);
  color: #2e9b9b;
  background-color: #f6ffff;
  border: 1px solid #b9e2e2;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 10px;
}

/* FILTER SIDEBAR MEDIA QUEARIES */

@media screen and (max-width: 1500px) {
  .btns-container {
    display: none !important;
  }
  .sidebar-toggle.active {
    display: none !important;
  }

  .header-bottom {
    width: 100% !important;
    padding: 10px 10px;
    /* background-color: #008080; */
  }

  .filter-header-sticky .page-topbar {
    padding: 0 15px !important;
  }

  .content-filter-header .page-topbar {
    padding: 0 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .btns-container {
    display: none !important;
  }
  .sidebar-toggle.active {
    display: none !important;
  }
  .header-bottom {
    width: 100% !important;
    padding: 10px 0 !important;
    margin: 0 !important;
  }

  .filter-header-sticky .page-topbar {
    padding: 0 15px !important;
  }

  .content-filter-header .page-topbar {
    padding: 0 15px !important;
  }
}

/* ---------- CARD & SIDEBAR CSS ------------ */
/* ---------- CARD & SIDEBAR CSS ------------ */

.display-products .sidebar-toggle .product-card-lists {
  width: 100%;
  float: left;
  margin: 0 auto;
}

.product-list-title {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
  /* background-color: #dd8ee7; */
}

.section-heading {
  font-size: 26px;
  line-height: normal;
  /* color: rgb(75, 105, 105); */
  color: #38585a;
  font-weight: 600;
  padding: 30px 0;
}

.section-heading strong {
  font-weight: 700;
  font-size: calc(18px + 6 * (100vw - 480px) / 920);
}

.card-list .product-card {
  position: relative;
}

.card-list .product-card img {
  max-width: 100%;
  height: 200px;
  vertical-align: middle;
  display: inline;
}

.card-list > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.card-list .wide {
  grid-column: span 2;
}

.product-details {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 7px;
  text-align: start;
  /* transition: 0.2s; */
  z-index: 20;
  background-color: #1c1c1b15;
  /* background-color: #1c1c1b6e; */
  /* background-image: linear-gradient(
    hsl(0 0% 0% /0),
    hsl(20 0% 0% /0.2) 30%,
    hsl(0 0% 0% /0.4)
  ); */
  opacity: 0;
}

.product-details .animate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 7px;
  margin-left: -2px !important;
  opacity: 0;
  margin: 0 auto;
}

.product-details .description {
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  text-align: start;
  position: absolute;
  bottom: 10px;
  left: 12px;
  color: #fff;
  line-height: 1rem;
}

.product-details .top-details {
  position: absolute;
  top: 15px;
  left: 12px;
}

.product-details .top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  max-width: 240px;
  margin: 0 auto;
  /* background-color: #99b9b9; */
}

.product-details p {
  font-size: 16px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0 !important;
}

.product-details .discountrate {
  padding: 5px;
}

.product-details .salesprice {
  text-align: start;
  border-radius: 5px;
  padding: 5px;
  color: teal !important;
  background-color: #f9fffa;
}

.product-details .price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3px !important;
}

.product-details .download {
  width: 35px;
  height: 32px;
  border-radius: 3px;
  text-align: center;
  /* background-color: teal; */
}

.product-details .icon {
  font-size: 14px;
  font-weight: 800;
  line-height: 32px;
  color: #fff;
  text-align: center;
}

.product-details:hover {
  opacity: 1;
  width: 100%;
  transition: all 0.1s;
}

.product-details .animate:hover {
  opacity: 1;
  transition: all 0.3s;
  margin-left: 0px !important;
}

@media screen and (max-width: 768px) {
  .card-list .product-card img {
    width: 300px;
    height: 100%;
  }
  .product-details {
    width: 300px !important;
    z-index: 20;
    /* background-color: #1c1c1b15; */
    background-image: linear-gradient(
      hsl(0 0% 0% /0),
      hsl(20 0% 0% /0.1) 50%,
      hsl(0 0% 0% /0.4)
    );
    opacity: 1 !important;
  }

  .product-details .animate {
    position: absolute;
    opacity: 1 !important;
  }
}

@media screen and (max-width: 280px) {
  .card-list .product-card img {
    width: 240px;
    height: 100%;
  }
  .product-details {
    width: 240px !important;
    z-index: 20;
    /* background-color: #1c1c1b15; */
    background-image: linear-gradient(
      hsl(0 0% 0% /0),
      hsl(20 0% 0% /0.1) 50%,
      hsl(0 0% 0% /0.4)
    );
    opacity: 1 !important;
  }

  .product-details .animate {
    position: absolute;
    opacity: 1 !important;
  }
}

/* PRODUCT CARD ENDS HERE */

/* LOGIN & SIGNUP START HERE */

.login-wrapper {
  height: 100vh;
  width: 100vw;
}

.art-wrapper {
  background-color: #f8fafb;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.login-wrapper .art-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(75%);
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  width: 100%;
}

.login-wrapper .content-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: #fff;
  flex-direction: column;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.login-wrapper .main-content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 20px;
  position: relative;
  width: 350px;
}

.content-wrapper .main-content > *:not(.top-bar):not(:last-of-type) {
  margin-bottom: 2rem;
}
.content-wrapper .main-content > * {
  width: 100%;
}

.login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  /* width: 400px; */
}

.login-card > *:not(:last-child) {
  margin-bottom: 2rem;
}

.login-card .title {
  font-size: 1.375rem;
  font-weight: 500;
}

.login-card .form-group {
  width: 70%;
}

.content-wrapper .logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 34px;
  margin-bottom: 2rem;
}

.content-wrapper .logo h3 {
  font-size: 36px;
  color: #008080;
}

.text-col {
  font-size: 12px !important;
  color: #008080;
  width: 100%;
}

.button-login {
  width: 100%;
  color: #fff;
  font-weight: 600;
  padding: 8px 0;
  background-color: #008080;
  border-radius: 3px;
  border: none;
  outline: none;
}

.login-btn-container p {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding-top: 15px;
  color: #303030;
}

.login-btn-container p a {
  color: #008080;
  padding-left: 3px;
}

/* @media only screen and (min-width: 992px) { */
.login-wrapper {
  display: flex;
}
.login-wrapper .art-wrapper {
  width: calc(100% - 450px);
}

.login-wrapper .content-wrapper {
  width: 500px;
  /* background-color: #fffc2e; */
}
.login-wrapper .content-wrapper .main-content {
  width: 450px;
  /* background-color: #18cfcf; */
}
/* .login-wrapper .content-wrapper {
  padding-left: 80px;
  padding-right: 80px;
} */
/* .content-wrapper .logo {
  padding-bottom: 30px;
} */
/* } */

/* @media only screen and (max-width: 992px) {
  .art-wrapper {
    height: 30%;
  }
  .login-wrapper .content-wrapper {
    height: 70%;
  }
}

@media only screen and (max-width: 920px) {
  .art-wrapper {
    height: 50%;
  }
  .login-wrapper .content-wrapper {
    height: 150%;
  }
}

@media only screen and (max-width: 912px) {
  .art-wrapper {
    height: 25%;
  }
  .login-wrapper .content-wrapper {
    height: 40%;
  }
}

@media only screen and (max-width: 899px) {
  .art-wrapper {
    height: 50%;
  }
  .login-wrapper .content-wrapper {
    height: 150%;
  }
}

@media only screen and (max-width: 820px) {
  .art-wrapper {
    height: 30%;
  }
  .login-wrapper .content-wrapper {
    height: 50%;
  }
} */

@media only screen and (max-width: 768px) {
  .art-wrapper {
    display: none;
  }
  .login-wrapper .content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-wrapper .content-wrapper .main-content {
    width: 100%;
  }
}

/* @media only screen and (max-width: 740px) {
  .art-wrapper {
    display: none;
  }
  .login-wrapper .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 720px) {
  .art-wrapper {
    height: 30%;
  }
  .login-wrapper .content-wrapper {
    height: 100%;
  }
}

@media only screen and (max-width: 670px) {
  .art-wrapper {
    height: 50%;
  }
  .login-wrapper .content-wrapper {
    height: 150%;
  }
}

@media only screen and (max-width: 660px) {
  .art-wrapper {
    height: 40%;
  }
  .login-wrapper .content-wrapper {
    height: 190%;
  }
}

@media only screen and (max-width: 620px) {
  .art-wrapper {
    height: 30%;
  }
  .login-wrapper .content-wrapper {
    height: 75%;
  }
}

@media only screen and (max-width: 390px) {
  .art-wrapper {
    height: 25%;
  }
  .login-wrapper .content-wrapper {
    height: 80%;
  }
} */

/* @media only screen and (max-width: 280px) {
  .art-wrapper {
    display: none;
  }
  .login-wrapper .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */

/* @media only screen and (max-width: 768px) {
  .login-wrapper {
    display: flex;
    flex-direction: column !important;
  }
  .login-wrapper .art-wrapper {
    width: 100%;
  }
  .login-wrapper .content-wrapper {
    box-shadow: 0 0 30px #3749574d;
    width: 100%;
  }
  .login-wrapper .content-wrapper {
    margin-top: -60px !important;
  }
  .login-wrapper .main-content {
    padding-top: 20px;
  }

  .login-card > *:not(:last-child) {
    margin-bottom: 1rem !important;
  }

  .content-wrapper .logo {
    margin-bottom: 1rem !important;
  }
} */

/* @media only screen and (max-width: 750px) {
  .login-wrapper .content-wrapper {
    height: 400vh;
  }
} */

/* @media only screen and (max-width: 450px) {
  .login-wrapper .content-wrapper {
    height: 150vh;
  }
  .login-wrapper .main-content {
    padding-top: 0px !important;
  }
} */

/* LOGIN ENDS HERE */

/* FORGOT PASSWORD HERE */
.forgotPassword-wrapper {
  background-color: #f5f5f5;
}

.conatiner-xxl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.fp-card {
  padding: 40px;
  width: 500px;
  background-color: #fff;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0 0 30px #d6d6d64d;
}

.fp-card p {
  font-size: 14px;
  color: #38585a;
}
/* FORGOTPASSWORD ENDS HERE */

/* LAYOUT 2 STARTS HERE */

.home-2 {
  width: 100%;
  padding: 20px;
  /* margin: 40px auto; */
  margin-top: 40px;
}

.top-nav {
  height: 60px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f5f8f8; */
  margin: 0 auto;
}

.top-nav .top-nav-logo h3 {
  text-align: left;
}

.top-nav .top-nav-logo h3 strong {
  font-size: 32px;
  font-weight: 700;
  padding: 5px 0px;
  border-bottom: 1px solid #e6ecec9c;
  text-align: left;
}

.top-nav .top-nav-logo h3 a {
  color: #3d3d3d;
}

.home-2 .nav-content {
  display: flex;
  align-items: center;
}

.home-2 .nav-content ul {
  margin: 0;
  padding: 0;
}

.nav-content li {
  margin: 0;
  padding: 0;
}

.nav-content a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #646464;
  font-size: 16px;
  font-weight: 600;
  padding-left: 25px;
}

.home-2 .nav-content li .active {
  color: #3b7474;
}

.home-2 .top-nav .menu-icon {
  display: none;
}

.home-2 .co-mobile-nav-menu ul {
  margin: 0;
  padding: 0;
}

.home-2 .co-mobile-nav-menu li {
  margin: 0;
  padding: 0 7px;
}

.home-2 .co-mobile-nav-menu a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #646464;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.home-2 .co-mobile-nav-menu {
  text-align: center;
  display: none;
  background-color: #fafafa;
  padding: 10px;
  opacity: 0;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 720px) {
  .home-2 {
    padding: 10px !important;
    margin-top: 10px !important;
  }
  .home-2 .top-nav {
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
  }
  .top-nav .nav-content {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 620px) {
  .home-2 {
    padding: 0px !important;
    margin-top: 0px !important;
  }
  .top-nav .nav-content {
    display: none;
  }
  .home-2 .co-mobile-nav-menu {
    display: block;
    opacity: 1;
    transition: all 0.4s ease;
  }
  .home-2 .top-nav .menu-icon {
    display: block;
    padding-right: 20px;
  }
  .home-2 .top-nav .top-nav-logo {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .home-2 {
    padding: 10px;
    margin-top: 0px !important;
  }
  .home-2 .co-mobile-nav-menu a {
    font-size: 12px;
    font-weight: 500;
  }
  .top-nav .top-nav-logo h3 strong {
    font-size: 22px;
  }
}

/* LAYOUT 2 ENDS HERE */

/* LEGAL PAGE AS HOME PAGE STARTS HERE */

.company-section-wrapper {
  width: 100vw;
  min-height: 80vh;
  background-color: #fff;
}

.company-section-wrapper .main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  /* background-color: #009797; */
}

.company-section-wrapper .left-content {
  width: 400px;
  max-width: 400px;
  text-align: center;
  /* margin: 0 auto; */
  /* background-color: #faafaf; */
  padding-left: 80px;
  padding-top: 10px;
}

.company-section-wrapper .right-content {
  width: 600px;
  max-width: calc(100%-400px);
  /* background-color: #17bb4d; */
}

.main-container .left-content .navigation-tab {
  text-align: left;
}

.main-container .left-content ul,
.left-content li,
.left-content a {
  margin: 0;
  text-decoration: none;
  list-style: none;
  /* color: #858585; */
  color: #008080;
  font-size: 15px;
  font-weight: 600;
}

.left-content li {
  padding-bottom: 8px;
}

.main-container .left-content .side-nav-tab {
  display: flex;
  flex-direction: column;
}

.main-container .left-content .side-nav-tab a {
  line-height: 30px;
  padding-left: 8px;
}

.left-content .side-nav-tab li .active {
  border-left: 3px solid #008080;
}

/* .company-section-wrapper */

.company-section-wrapper .right-content .title {
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .company-section-wrapper .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
  }
  .company-section-wrapper .left-content {
    width: 100% !important;
    max-width: 100% !important;
    margin: 40px 0;
    padding: 0 !important;
    background-color: #fafafa;
  }

  .company-section-wrapper .right-content {
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
    padding: 20px !important;
    /* background-color: #def8f8; */
  }
}

/* SINGLE PRODUCT PAGE */

.product-section-wrapper {
  /* background-color: rgb(241, 206, 206); */
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.product-section-wrapper .container-fluid {
  max-width: 1400px;
  margin: 0 auto;
  /* background-color: #f3f7f7; */
  position: relative;
  padding: 10px !important;
}

.product-section-wrapper .container-fluid .detail-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.p-left-content {
  position: relative;
  width: 1000px;
  background-color: #f5f8f8;
  /* height: 500px; */
}

.p-left-content .gallery-photo {
  width: 700px;
  height: auto;
  margin: 0 auto;
}

.p-left-content img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* .overlay {
  position: relative;
} */

.p-left-content .prod-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffa200;
  font-weight: 900;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.title-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  max-width: 700px;
  padding-top: 20px;
}

.title-text .prod-icon2 {
  display: flex;
  align-items: center;
  color: #374957;
  font-weight: 600;
  background: #ebf5f4;
  padding: 6px 25px;
  border-radius: 7px;
  cursor: pointer;
}

.mobile-like {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  display: none;
}

.mobile-like .prod-icon2 {
  display: flex;
  align-items: center;
  color: #374957;
  font-weight: 600;
  background: #ebf5f4;
  padding: 6px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.title-text .prod-icon2:hover {
  background: #e8eeed;
}

.p-right-content {
  width: 360px;
  display: flex;
  justify-content: center;
}

.p-right-content .asset-details .asset-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-right-content .asset-details .top-details {
  width: 360px;
  max-width: 360px;
  height: 250px;
  padding: 10px;
  background-image: url(https://img.freepik.com/premium-photo/abstract-texture-cubic-geometric-color-background_305419-1919.jpg?w=1060);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #009797; */
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
}

.p-right-content .Ad-image {
  max-width: 360px;
  height: auto;
}

.p-right-content .Ad-image img {
  max-width: 360px;
  height: auto;
  object-fit: cover;
}

.p-right-content .asset-details .free-paid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 8px auto;
  text-align: center;
}

.p-right-content .asset-details .free-paid strong {
  color: #fff;
}

.p-right-content .asset-details .asset-notice {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.p-right-content .notice-content .premium {
  /* width: 100%; */
  color: #009797;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 40px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.p-right-content .asset-details .notice-content .premium:hover {
  background-color: #f2f9fa;
}

.p-right-content .asset-details .notice-content .cta-Links,
a {
  font-size: 15px;
  color: #a9f9ff;
}

.p-right-content .asset-details .notice-content .cta-Links a {
  font-size: 15px;
  color: #fff;
}

.middle-content {
  width: 100%;
  /* background-color: #008080; */
  padding: 10px 0;
  margin: 10px 0;
}

.title-text {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
}

.topic-des {
  font-size: 12px;
  color: #374957;
}

.asset-description {
  font-size: 16px;
  font-weight: 600;
  color: #374957;
  max-width: 1000px;
}

.middle-details {
  margin-top: 30px !important;
  margin-bottom: 10px !important;
}

.p-right-content .btn-download {
  font-size: 18px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  padding: 15px 20px;
  background-color: #ffa200;
  border-radius: 7px;
  border: none;
  outline: none;
  /* margin: 10px 0; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px !important;
}

.p-right-content .btn-download:hover {
  background-color: #fcac22;
}

.p-right-content .btn-download2 {
  font-size: 18px;
  width: 100%;
  color: #008080;
  font-weight: 700;
  padding: 15px 20px;
  /* background-color: #8697a3; */
  background-color: #eff3f6;
  border-radius: 7px;
  border: none;
  outline: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-right-content .btn-download2:hover {
  background-color: #e7eaeccc;
}

.p-right-content .bottom-details {
  margin-top: 25px;
}

.p-right-content .bottom-details .mb-0 {
  display: flex;
  align-items: center;
  color: #767677;
  font-size: 16px;
}

.p-right-content .bottom-details .license-color {
  color: #767677 !important;
  margin-right: 8px;
}

.product-section-wrapper .asset-name {
  font-size: 20px;
  color: #374957;
  line-height: 1.5;
  font-weight: 600;
}

.related-content {
  margin: 20px 0;
}

.product-section-wrapper .related-content h5 {
  color: #374957;
}

@media only screen and (max-width: 1255px) {
  .product-section-wrapper .container-fluid .detail-container {
    gap: 20px !important;
  }
}

@media only screen and (max-width: 992px) {
  .product-section-wrapper .detail-container {
    flex-direction: column !important;
  }
  .p-left-content {
    width: 100%;
    overflow: hidden;
  }

  .p-right-content {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  .p-right-content .asset-details {
    display: flex;
    gap: 20px;
    margin: 20px;
  }

  .p-right-content .top-details {
    width: 600px !important;
    height: 250px;
    padding: 10px !important;
  }

  .p-right-content .btm-details {
    width: 300px !important;
  }

  .middle-details {
    margin-top: 0px !important;
  }

  .title-text {
    width: 100% !important;
  }
}

@media only screen and (max-width: 730px) {
  .p-right-content .asset-details {
    flex-direction: column !important;
    gap: 20px;
    margin: 20px;
  }
  .p-right-content .btm-details {
    width: 350px !important;
  }

  .product-section-wrapper .asset-name {
    font-size: 18px;
  }

  .p-left-content img {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 450px) {
  .p-right-content .asset-details {
    margin: 10px !important;
  }

  .title-text {
    width: 100% !important;
    flex-direction: column !important;
    text-align: center;
  }
  .bottom-details {
    flex-direction: column !important;
    gap: 10px;
  }

  /* .p-left-content {
    height: 200px;
  } */

  .p-left-content img {
    width: 100%;
    height: 200px;
  }

  .p-right-content .top-details {
    max-width: 300px !important;
    height: 200px;
    padding: 10px !important;
  }

  .p-right-content .btm-details {
    max-width: 300px !important;
  }

  .mobile-like {
    display: flex;
  }

  .title-text .prod-icon2 {
    display: none;
  }

  .p-right-content .btn-download,
  .btn-download {
    font-size: 16px;
  }

  .p-right-content .notice-content .premium {
    font-size: 18px;
    padding: 13px 35px;
    margin-bottom: 8px;
  }
  .product-section-wrapper .asset-name {
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
  }
}

@media only screen and (max-width: 375px) {
  /* .p-left-content {
    height: 150px;
  } */

  .p-left-content img {
    width: 100%;
    height: 150px;
  }

  .p-right-content .top-details {
    display: none !important;
  }

  .p-right-content .btm-details {
    max-width: 250px !important;
  }
}

@media only screen and (max-width: 280px) {
  .p-right-content .btm-details {
    max-width: 200px !important;
  }
}

/* SINGLE PRODUCT PAGE END*/

/* CHECKOUT PAGE END*/
.checkout-wrapper {
  background-color: #ffff;
  width: 100%;
  margin: 0 auto;
  height: 80vh;
  padding: 20px;
}

.checkout-wrapper .container-xxl {
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
}

.checkout-wrapper .l {
  padding-right: 40px;
}

.checkout-wrapper .r {
  padding-left: 40px;
}

.checkout-wrapper h1 {
  color: #008080;
  text-align: left;
  font-size: 45px;
  font-weight: 700;
  padding: 20px 20px 30px 0px;
}

.checkout-wrapper h3 {
  color: #374957;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
}

.checkout-wrapper .container-xxl .form-group {
  width: 100%;
}

.checkout-wrapper .container-xxl .btn-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.checkout-wrapper .container-xxl .form-control {
  margin: 15px 0;
  border: 1px solid #eeeeee;
  /* color: #c7c7c7; */
}

.container-xxl .btn-cont a {
  font-weight: 600;
  border: none;
  outline: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-xxl .btn-cont .btn-left {
  color: #979797;
}

.container-xxl .btn-cont .btn-left:hover {
  color: #374957;
}

.container-xxl .btn-cont .btn-right {
  color: #fff;
  font-weight: 600;
  padding: 10px 17px;
  background-color: #ffa200;
  border-radius: 3px;
}

.container-xxl .btn-cont .btn-right:hover {
  background-color: #009797;
}

.checkout-wrapper .container-xxl .small {
  color: #767677;
}

.v-line {
  border-left: 2px solid #92929249;
  height: 50%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 20%;
  vertical-align: middle;
  padding: 0 10px;
}

/* CHECKOUT PAGE END*/

/* PRICING PAGE START*/
.pricing-wrapper {
  display: flex;
  flex-direction: column;
}

.pricing-wrapper .header-banner {
  padding: 45px 20px;
  /* background: #ff2a00; */
  min-height: 235px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
  background-color: #066374;
}

.pricing-wrapper .header-banner .main-content {
  padding-right: 400px;
  width: 950px;
  /* background-color: #d9ff50; */
  /* padding: 20px; */
  position: initial;
  margin: 0 150px;
}

.header-banner .main-content .banner-details {
  text-align: left;
}

.main-content .banner-details h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  color: #ffa200;
  margin: 0 0 20px;
  padding: 0;
}

.main-content .banner-details h3 {
  color: white;
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 20px;
  font-weight: 700;
}

.main-content .banner-details p {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.main-content .banner-details .m-x-0 {
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
}

.header-banner .main-content .banner-image {
  left: calc(100% - 450px);
}

.header-banner .main-content picture {
  pointer-events: none;
  position: absolute;
  min-height: 100%;
  height: 300px;
  top: 0;
  /* right: 0; */
  /* margin-right: -150px; */
  margin-top: -40px;
}

.header-banner .main-content picture img {
  display: block;
  height: 100%;
  max-width: initial;
}

/*----- 2ND SECTION CSS ------- */
.p-body {
  background: #f7f5f5;
}

.p-body .container {
  padding: 0 30px;
}

@media screen and (max-width: 1070px) {
  .pricing-wrapper .header-banner .main-content {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 768px) {
  .pricing-wrapper .header-banner {
    padding: 0px 20px !important;
  }
  .pricing-wrapper .header-banner .main-content {
    margin: 0 auto !important;
  }
  .header-banner .main-content .banner-image {
    display: none;
  }

  .pricing-wrapper .header-banner .main-content {
    padding-right: 20px !important;
    width: 100% !important;
  }
}

/* PRICING PAGE END*/

/* HOME 2 NAVBAR WHITE PAGE START*/
.nav-home-2 {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #eeeded;
}

.nav-home-2 .nav-bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav-home-2 .nav-bar .nav-logo h3 {
  text-align: left;
  margin: 0;
}

.nav-home-2 .nav-bar .nav-logo strong {
  font-size: 28px;
  color: #4da2a5;
  /* color: #3e8588; */
}

.nav-home-2 .nav-bar .nav-menu ul,
li,
a {
  margin: 0;
}

.nav-home-2 .nav-bar .nav-menu a {
  text-decoration: none;
  color: #4f797c;
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
}

.nav-home-2 .nav-bar .nav-menu a:hover {
  color: #6e6e6e;
}

.nav-home-2 .nav-bar .nav-menu .active {
  color: #008080;
}

.nav-home-2 .nav-bar .nav-menu .signup-btn {
  padding: 4px 8px;
  border: 1px solid #b0c0c2;
  border-radius: 3px;
  margin-left: 20px;
}

.nav-home-2 .mobile-nav-menu {
  background-color: #eaf2f7;
  padding: 10px 40px;
  transition: all 0.6s ease-in-out;
}

.nav-home-2 .mobile-nav-menu ul,
li,
a {
  margin: 0;
  padding: 0;
}

.nav-home-2 .mobile-nav-menu li a {
  text-decoration: none;
  color: #555555;
  font-size: 15px;
  font-weight: 500;
  padding-right: 15px;
  /* background-color: #f0f0f0; */
  margin-bottom: 0 !important;
}

.nav-home-2 .mobile-nav-menu .signup-btn {
  color: #4da2a5;
}

.nav-home-2 .mobile-nav-menu .login-btn {
  color: #4da2a5;
}

.nav-home-2 .mobile-nav-menu {
  display: none;
  margin-top: -45px;
  transition: all 0.6s ease-in-out;
}

.nav-home-2 .nav-bar .menu-icon .close-menu-icon,
.menu-open :hover {
  padding: 3px;
  border: 1px solid #e0e0e0a9;
}

@media screen and (min-width: 550px) {
  .nav-home-2 .nav-bar .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .nav-home-2 .nav-bar .nav-menu {
    display: none;
  }
  .nav-home-2 .mobile-nav-menu {
    display: block;
    margin-top: 0 !important;
    transition: all 0.6s ease-in-out;
  }
  .nav-home-2 .nav-bar .nav-logo strong {
    font-size: 20px;
  }
}

/* HOME 2 NAVBAR WHITE PAGE END*/

/* SELL HERE PAGE START*/
.sell-page-wrapper {
  background-color: #fafafa;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
}

.sell-page-wrapper .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.sell-page-wrapper .main-content .sell-body .gif-container {
  width: 200px;
  max-width: 100px;
  height: 100px;
  margin: 5px auto;
  /* background-color: #2e9b9b; */
}

.sell-page-wrapper .main-content .sell-body img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.sell-page-wrapper .main-content .sell-body h4 {
  font-size: 20px;
  padding-top: 10px;
}

.sell-page-wrapper .main-content .sell-body .sell-account-links p {
  font-size: 12px;
  padding: 2px 0;
}

.sell-page-wrapper .main-content .sell-body .sell-account-links p a {
  color: #616161;
  font-weight: 600;
}

.faded-text {
  color: #9e9e9e;
}

/* SELL HERE PAGE END*/
